@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,300&family=Raleway:ital,wght@0,100..900;1,100..900&family=Tinos:wght@700&display=swap');

:root {
    --f_Poppins: 'Poppins';
    --f_Raleway: 'Raleway';
    --f_Tinos: 'Tinos';
    --primery: #3FA72F;
    --secondary: #FF8A00;
    --tertiary: #311F09;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    font-family: var(--f_Poppins);

}

button {
    cursor: pointer;
    border: none;
}

.container{
    max-width: 1150px;
    width: 100%;
}



/* ====================================Openday start============================================= */

.openday{
    display: flex;
    justify-content: center;
}

.openday .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(/Restaurant/image/Background\ \(1\).png);
    background-repeat: no-repeat;
    color: white;
}

.openday__p{
    font-weight: bold;
    font-size: 80px;
    margin: 26px;
}

.monday_p{
    font-size: 40px;
}

.launch{
    font-size: 20px;
    line-height: 200%;
    margin: 50px;
}

.btns{
    display: flex;
    justify-content: space-between;
    margin: 0 0 80px 0;
}

.openday__btn1{
    width: 232px;
    height: 74px;
    background: rgba(255, 138, 0, 1);
    border-radius: 162.94px;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.openday__btn2 {
    width: 232px;
    height: 74px;
    border-radius: 162.94px;
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 0 11px;
}